@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

$color-primary: #17415a;
$color-secondary: #B7D1DA;
$color-light: #eef0f2;
$color-darkblue: #030027;
$color-warning: #EFA00B;

$font-size-sl: 50px;
$font-size-l: 28px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-ss: 12px;

$font-family-madimi: "Madimi One", sans-serif;
$font-family-tc:"Noto Sans TC", sans-serif;